[2016-07-18 10:59] XVincentX opened #3 "Manage SourceMap lacks"
Actually the source map reference for a particular symbol is done guessing where the reference could be

[code]

While this actually kind-of-works, it can miss better sourcemaps developed with future drafter version as well not get all cases.
1. The idea here would be that, when missing sourcemaps on queried element, a `refract-query` call should be performed with a `1` limit, and use that as **ne

[2016-07-22 10:32] XVincentX commented on #3
This has been partially solved in #4

I still cannot track entire objects, but I do not have to use those horrible fallbacks anymore.

[2016-07-22 15:03] XVincentX opened #6 "Give more informations about newlines"
Current API Blueprint parser is not able to parse elements with `CRLF` endings, which is the default way in Windows.

Given that, people will just get a parser error which does not really help you understanding how to fix the thing.

Investigate the parser output and show something useful to the user.

[2016-07-22 15:07] XVincentX opened #7 "Switch to fury packages"
In order to support Swagger documents, it is required to switch to fury and it's adapter.
Fortunately it shouldn't be that hard.

[2016-07-22 15:24] XVincentX opened #8 "Tests, ever heard about them?"
It would be great to test what I did so far.

This, of course, won't happen. However, this issue will remember me time after time how sucker I am.

[2016-07-22 15:44] XVincentX opened #9 "Best parser selection looks like not working"
It looks like the chosen parser is always the provided `drafter.js`.
Have a look, clarify and fix.

[2016-07-24 11:52] XVincentX commented on #6
Handled in #12

[2016-07-24 11:57] #6 closed, assigned to nobody

[2016-07-24 15:44] XVincentX opened #14 "Introduce a delay while validating"
Actually the document validation is triggered literally at keystroke, which might be a bit too fast and give errors while you're still typing important stuff.

Delaying the thing would be a good idea, as well being configurable.

[Delayer](https://github.com/Microsoft/vscode-spell-check/blob/master/src/Features/spellProvider.ts#L143) by Microsoft in spell extension might be a good starting point.

[2016-07-24 15:45] XVincentX opened #15 "Multi document support"
If you open two files in VSCode and type two different blueprints, the refract output gets overridden. It should be held per document uri.

[2016-07-25 14:29] #15 closed, assigned to nobody

[2016-07-26 10:37] XVincentX opened #18 "Set default editor options for APIBlueprint documents"
API Blueprint require `LF` as line ending and 4 spaces indent.

Investigate whether this is possible in VSCode on some activation events.

[2016-07-26 12:04] XVincentX opened #19 "Do not stringify/parse JSON when providing parser output"
I can ask directly for JSON string version to the parser.

[2016-07-28 14:18] #18 closed, assigned to nobody

[2016-07-28 14:18] XVincentX commented on #18
Solved in #21

[2016-07-29 13:24] liguori opened #22 "Provide apiary.io fetch & publishing"
It would be a nice extension feature to implement a new functionality for:
1. Connect to an existent apiary.io account
2. Fetch and explore online api
3. Publish on apiary.io api changes

[2016-07-29 14:14] XVincentX commented on #22
Hello, and thanks a lot for the getting in touch.

Actually Apiary provides some tools to do the job here.

In particular, you can use [apiary client](http://client.apiary.io) to fetch and publish your API documents. If those are linked with Github, the integration will still happen.

Moreover, if you're using [Github integration](https://help.apiary.io/tools/github-integration/), you can use the

[2016-07-30 10:04] XVincentX commented on #22
@liguori #23

[2016-07-30 10:38] XVincentX commented on #8
Contributions welcomed, of course.

[2016-07-30 12:41] XVincentX commented on #19
#23

[2016-07-30 15:27] XVincentX commented on #9
This is going to be removed. It's useless.

[2016-07-30 15:27] #9 closed, assigned to nobody

[2016-07-30 15:27] XVincentX commented on #7
#24

[2016-08-03 08:55] XVincentX commented on #22
@liguori This has been implemented and published in 0.2.0

[2016-08-03 08:55] #22 closed, assigned to nobody

[2016-08-03 10:15] liguori commented on #22
I am satisfied about this implementation.
It's a very good work and it functions very well

Thank!

P.S: Mi puzzano le palle.

[2016-08-03 10:21] XVincentX commented on #22
I totally agree with the PS.

[2016-08-03 12:42] liguori opened #25 "Provide contextual intellisense"
Would it be possible to implement the ability of having Intellisense when calling MSON attributes, payloads?

[2016-08-03 13:01] XVincentX commented on #25
The only reason I'll implement this thing is because you admitted your deficiencies.

Have a nice day, fetapalle.

[2016-08-03 18:22] XVincentX opened #26 "Shame yourself for the way you traverse the refract tree and fix it"

[2016-08-04 07:04] XVincentX opened #27 "Kill the refractSymbolMap"
According to the latest surveys, it turned out that `refractSymbolMap` was the worst idea in 2016-2017-2018.

Shame and whip yourself multiple times. Then, please remove that shit from the codebase.

[2016-08-05 10:50] jsynowiec opened #28 "Goto endpoint/endpoint method definition"
Current symbol navigation is ok but more granular level would be great. I sometimes have 30+ endpoints each group (and a all standard HTTP methods for several of them). An ability to navigate to every "level", e.g. `Group Users -> Users Collection [/users] -> Fetch a collection [GET]` would be really helpful.

[2016-08-05 10:55] jsynowiec opened #29 "Markdown syntax is not highlighted properly"
Only a part of blueprint/makrdown/mson syntax is highlighted. It's usable but complete syntax support would be great.

[2016-08-05 11:16] XVincentX commented on #28
Hello,
this makes definitely sense and I think it's a general good idea.
I'll look into that and see if I can make it possible.

Actually I'm refactoring the way I'm traversing the AST in order to support Swagger and have more flexibility about what you consider a "symbol" (I'd like to make it configurable as not everybody think HTTP actions deserve to be a symbol). This might take a while but it'

[2016-08-05 11:17] XVincentX commented on #29
Absolutely!

Thing is - current Syntax Highlight definition file is abandoned and "old". Probably there are also some missing edge cases.

I'm not expert into those but nevertheless I feel I should work on it.
I'll keep you posted!

[2016-08-05 11:19] XVincentX commented on #3
Actually this might really need a modification in the parser. Will see about that.

[2016-08-09 09:03] XVincentX opened #30 "Make lookup symbols configurable"
The issue #28 made me realise that the concept of symbol in those documents can vary from person to person.

For me, a `dataStructure` element might be something I am interested in, for some people it might be not.

Therefore, I'd like to put those preferences configurable on a boolean flag.
`resource: true, resourceGroup: false, dataStructures: true`

[2016-08-15 09:20] XVincentX opened #31 "Integrate Dredd into the extension"
Dredd related issues:

https://github.com/apiaryio/dredd/issues/602
https://github.com/apiaryio/dredd/issues/600

[2016-08-15 09:22] XVincentX commented on #19
Addressed into #24

[2016-08-15 09:22] #19 closed, assigned to nobody

[2016-08-15 09:22] XVincentX commented on #26
Addressed into #24

[2016-08-15 09:22] #26 closed, assigned to nobody

[2016-08-15 09:22] XVincentX commented on #27
Addressed into #24

[2016-08-15 09:22] #27 closed, assigned to nobody

[2016-08-25 10:23] XVincentX opened #32 "Implement the push command for the integrated Apiary Client"
According to https://github.com/apiaryio/apiary-client/pull/130, there's a new parameter that should be set to `true` if I do want to propagate eventual changes to the Github Sync (if any).

[2016-08-26 13:36] PiMaker opened #33 "editor.adjustOptions should insert spaces to avoid Drafter errors"
Having tabs in a .apib file leads to nasty Drafter errors, having to change it manually every time is annoying. I would suggest either defaulting the `editor.adjustOptions` setting to false or changing the adjustment to include `insertSpaces = true` instead of false as it is right now.

[2016-08-26 15:50] XVincentX commented on #33
Hey @PiMaker,
thanks a lot for filing the issue.

You're totally right - it's a bug.

I'll fix this thing as soon as possible and publish it!

[2016-08-26 15:54] XVincentX commented on #33
I've just committed https://github.com/XVincentX/vscode-apielements/pull/24/commits/6a97fac255d44150f610b954fb56f3ba6f977250

It will land together with Swagger support which hopefully shouldn't be that far away.
Thanks again!

[2016-08-26 18:20] PiMaker commented on #33
Thank you! For now I set adjustOptions to false, but it's good to know I can reenable it on the next update :+1:

[2016-08-27 17:43] XVincentX opened #35 "Free the AST cache time after time"
I am not really sure about this and probably it should be verified but -
The refract output is generally quite big and it can blow up the memory as you create new documents.

The cache is stored indefinitely (even if you close the documents, thous you do not want to work on it anymore) - even for untitled documents.

Verify and eventually prune the stale elements (probably every time a document ge

[2016-08-31 14:44] #33 closed, assigned to nobody

[2016-08-31 14:44] #28 closed, assigned to nobody

[2016-08-31 14:45] #7 closed, assigned to nobody

[2016-08-31 14:47] XVincentX commented on #33
I have just published version 0.3.0 which should fix the issue. I would really love if you could have a look into and let me know if it now makes sense to you!

@PiMaker

[2016-08-31 14:47] XVincentX commented on #28
I have just published version 0.3.0 which should fix the issue. I would really love if you could have a look into and let me know if it now makes sense to you!

@jsynowiec

[2016-08-31 14:50] XVincentX opened #36 "Update fury once possible"
In order to publish 0.3.0 I had to cut corners and publish without waiting for fury update.

This is preventing people to pass proper parser options.
Not a big deal as nobody is using those so far, but it's now an issue

[2016-08-31 14:59] jsynowiec commented on #28
Great. Just updated. I'm currently working with a quite large specification (5k+ lines so far).

It works as expected. This is really a big help. Thanks!

One idea though. Is it possible to add the HTTP method to each endpoint? Or change the symbol or symbol color for each HTTP method? I know that I can name then accordingly but displaying the method in square braces as a prefix to the endpoint na

[2016-08-31 15:10] XVincentX commented on #28
I think your idea makes definitely sense. Would you mind file a new issue with that so I can keep track of that?

Thanks a lot and - great that it's working well for you!

[2016-08-31 15:55] XVincentX opened #38 "Implement Browse to API Command"
It might be handy to have a command to browse the current API based on the name or selecting one if necessary.

[2016-08-31 16:50] #32 closed, assigned to nobody

[2016-08-31 21:01] jsynowiec opened #41 "Feature request: Add HTTP Method to endpoint and/or change icon and/or color of the icon based on HTTP Method"
Is it possible to add the HTTP method name to each endpoint? Or even change the symbol or symbol color for each HTTP method? I know that I can name then accordingly but displaying the method in square braces as a prefix to the endpoint name might be more useful.

E.g.

[code]

Could be rendered like
![method-navigator](https://cloud.githubusercontent.com/assets/1029142/18146210/c7c6a406-6fce-11e6-

[2016-08-31 21:02] jsynowiec commented on #28
#41

[2016-08-31 21:04] jsynowiec commented on #31
Please, keep the extension as lightweight as possible.

[2016-08-31 21:29] XVincentX commented on #41
Quick note: VSCode does not support the ability to add custom icons to symbols.

Tracking issue: https://github.com/Microsoft/vscode/issues/11342

[2016-09-01 08:19] XVincentX commented on #31
@jsynowiec
Could you please elaborate a bit more? Do you think that Dredd integration would be useless or something in particular?

[2016-09-01 09:00] XVincentX opened #42 "Data Structure section support in Symbols"
There should be support for data structures section

[2016-09-01 09:05] jsynowiec commented on #31
Most of the APIs that I design or implement are quite large and incorporate various forms of authentication - OAuth, JWT, etc. Tokens with scopes, grants, user types. Various endpoints allows to access only some combinations of scopes, grant types and user types - e.g. thin-client with low-level employee role vs. BI UI with manager-level role. Writing Dredd tests for this is time consuming and req

[2016-09-01 09:10] jsynowiec commented on #38
Does this includes opening a new browser window with the documentation section of Apiary project?

[2016-09-01 09:16] XVincentX commented on #38
@jsynowiec

I haven't finalised it yet, but this would be my idea:

![sep-01-2016 11-14-04](https://cloud.githubusercontent.com/assets/1416224/18162158/630d8d9c-7035-11e6-8a0d-1a9f416b3101.gif)

Thoughts?

[2016-09-01 10:27] XVincentX commented on #31
Great feedback here - let me clarify what I have in mind.

True that, I had the same issue during my early tests. Nonetheless, this extension is formed by two parts - a server, which is a totally different process not harming VSCode in any way, and a client, which is driving the editor UI. In the worst case, I can offload the things on the server process keeping a good experience in the editor.

T

[2016-09-01 13:36] XVincentX opened #43 "Write the documentation for the extension"
As this extension is getting bigger, it would be a good idea to have a `docs` directory where everything is inside and people can read it.

[2016-09-01 13:48] jsynowiec opened #44 "Improve AST traversal speed for symbols"
After the last update I've noticed that the symbol navigation is quite often rebuilding and it takes some time. I'm not sure if it was like this earlier, because now I'm using this feature a lot more.

![apielements](https://cloud.githubusercontent.com/assets/1029142/18169661/761c6af4-705b-11e6-9029-48b57ea73c3e.png)

vscode 1.4.0
apielements 0.3.0
blueprint with ~ 80 symbols

[2016-09-01 16:00] XVincentX commented on #44
Hey,

I will try to investigate into but I think the main problem would be the increased number of symbols we have now given we're putting transitions into the game as well.

I'll try with a large blueprint (or if you're willing to share yours, it would be better) and try to understand what's going on there.

[2016-09-01 17:20] jsynowiec commented on #44
Unfortunately I can't share this particular specification due to legal agreements :(

[2016-09-01 17:55] XVincentX commented on #44
I understand that. I'll look into with some large blueprint I'll try to find around and see what's going on here.

[2016-09-02 08:28] XVincentX commented on #36
Solved in #39

[2016-09-02 08:28] #36 closed, assigned to nobody

[2016-09-02 09:06] XVincentX opened #45 "Provide spinning elements for publish and fetching API"
Publish and fetching some APIs can be a long operation. Provide a feedback that the thing is going on or people won't understand it.

[2016-09-02 10:03] XVincentX opened #46 "Add more useful snippet"
I think it would be a good idea to add a bunch of useful snippets while working with both Swagger and API Blueprint

@jsynowiec , you're the only user reporting so far...I'd love to get some inputs from you. What do you think would speed up your work as snippets?

[2016-09-02 14:48] #14 closed, assigned to nobody

[2016-09-02 15:40] XVincentX commented on #44
@jsynowiec

I made some investigations and I didn't find any bug. I mean, if symbols are getting rebuilt, it's because they need to.

Fundamentally VSCode triggers the symbols rebuild when it detects that the document has been changed. The problem here is the tree traversing time, which might be time consuming.

I should probably start to track the AST traverse time as well try to cut useless trav

[2016-09-02 15:41] #38 closed, assigned to nobody

[2016-09-02 16:57] #45 closed, assigned to nobody

[2016-09-02 18:08] jsynowiec commented on #44
Thanks for the notice. I look forward to those improvements. I can do some beta-testing if you want.

[2016-09-02 18:19] jsynowiec commented on #46
Even better - I wanted to contribute some of my snippets at some point. Didn't have time yet though.

So far I have snippets for:
- general endpoint skeleton with header, request and response,
- a group of CRUD methods for Collection and single resource,
- some smaller snippets for several project specific things,

I have to clean them up a bit and make more universal. I have this on my todo list.

[2016-09-02 18:22] jsynowiec commented on #46
I'm also creating some sort of blueprint generator/scaffolding thingie based on my [boilerplate](https://github.com/jsynowiec/api-blueprint-boilerplate). When it's ready it'll be installable via npm and should allow to quickly bootstrap a general API specification with selected authentication, resource links, basic CRUD for user accounts, etc.

[2016-09-02 18:35] XVincentX commented on #44
That's going to be hard. I'll keep you posted

[2016-09-02 18:37] XVincentX commented on #46
Cool! Looking forward for those. Feel free eventually to share raw and unpolished stuff, I'll be happy to finish them and include those.

[2016-09-02 18:50] XVincentX commented on #44
Note: evaluate [sift](https://www.npmjs.com/package/sift)

[2016-09-04 20:59] jsynowiec commented on #46
I've started to move my snippets from markdown config file to API Blueprint and there is something wrong with language id. Selecting API Blueprint from snippets list opens up the `API Blueprint.json` file, so it matches the `"language": "API Blueprint",` contribution. But after saving it only the snippets provided by extension are available. Is space and uppercase letters allowed for language id?

[2016-09-05 08:11] XVincentX commented on #46
@jsynowiec Unfortunately I do not think I understood the problem correctly. Could you please elaborate or eventually attach a gif?

If you do not want to dig into VSCode extension and those things, feel free to add them here directly and I'll take care of that.

I'll give you credit, of course!

[2016-09-05 08:53] jsynowiec commented on #46
I've created a snippet definitions file for API Blueprint (Preferences -> User Snippets -> API Blueprint) and added some snippets that I previously had in my markdown user snippets. After saving the file vscode doesn't list those new snippets while editing apib file.

![ezgif com-optimize](https://cloud.githubusercontent.com/assets/1029142/18242351/2cbc68e8-7356-11e6-9763-f4a9b66a5ad7.gif)

It wor

[2016-09-05 08:55] XVincentX commented on #46
Oh - interesting. I have no idea to be honest. I'll try to dig into but that might be a VSCode bug as well.

Have a great vacation!

[2016-09-14 11:33] XVincentX commented on #43
I might want to setup a website using https://github.com/facebook/flow/tree/master/website

[2016-09-18 10:55] XVincentX commented on #44
Note:
![image](https://cloud.githubusercontent.com/assets/1416224/18615153/30a94a9a-7d9f-11e6-8310-accef0e90629.png)

This is not helping traversing the three. Sourcemaps and descriptions location are predictable, so get rid of that ASAP.

[2016-09-25 14:43] XVincentX opened #52 "Move to Typescript 2.0"
This is going to happen when next VSCode will be released.

[2016-09-26 12:25] jsynowiec opened #53 "Problem with Blueprint validation"
After last updates, following MSON notation is reported as invalid:

[code]

<img width="687" alt="screenshot 2016-09-26 14 18 33" src="https://cloud.githubusercontent.com/assets/1029142/18834056/27520a26-83f4-11e6-9bce-02c4063c2e80.png">

Both, Apiary and Protagonist (Drafter?) reports this as a valid syntax. Moreover, I can't find anything in MSON spec that explains this.

[2016-09-26 12:40] XVincentX commented on #53
Thanks a lot for the issue. I'll try to look into the parser and see if it's a known issue in current version and eventually update it!

[2016-09-26 16:08] XVincentX commented on #53
@jsynowiec

It seems like your issue is due to the parser update it has been provided with latest version.

Using string "null" as a default isn't supported.
Starting from 2.5.0, `nullable` means default null, so you should remove that line.

You should be able to find the change into drafter repo changelog if you're more interested into details.

[2016-09-26 16:08] #53 closed, assigned to nobody

[2016-09-26 16:08] XVincentX commented on #46
@jsynowiec Are you still interested in sharing these snippets eventually?

[2016-09-26 16:09] XVincentX commented on #53
https://github.com/apiaryio/drafter/blob/master/CHANGELOG.md#bug-fixes-1

[2016-09-26 16:25] XVincentX commented on #44
This is going to be put as part of effort to bring data structures into the extension.

[2016-09-27 08:54] jsynowiec commented on #46
Sure. Have you found a way to allow for external snippets alongside those in the extension?

[2016-09-27 09:27] XVincentX commented on #46
It seems like a VSCode limitation. I dug into the source code some weeks ago but I do not really remember the precise line.

The question is - do you want to bring these snippets into this extension or - do you want to create another one?

[2016-09-27 09:48] jsynowiec commented on #44
Ok, thanks. I'll update my blueprints and check if Apiary correctly shows values.

[2016-09-27 09:49] jsynowiec commented on #53
Ok, thanks. I'll update my blueprints and check if Apiary correctly shows values.

[2016-09-27 09:58] jsynowiec commented on #46
I'll contribute them and send a PR. Just need some time.

I'm not quite into Swagger so you should create separate enhancement issues for both, Swagger and Blueprint snippets, reference them here. You can assign me to the second one (if GH allows to assign someone outside the repo).

[2016-09-27 09:59] XVincentX commented on #46
It's not possible to assign external people, unfortunately.
Ok - take your time. I just wanted to make sure you still want to do that.

Once done, I'll take your one as an inspiration and probably convert these to Swagger, if they make sense.

[2016-09-27 14:09] XVincentX opened #56 "Add TSLint to the project"

[2016-09-27 15:07] #30 closed, assigned to nobody

[2016-09-29 12:06] XVincentX opened #58 "Try to restore the local parser presence..."
because people is asking for it and it's boring to update every single time.

[2016-09-30 09:56] XVincentX opened #59 "Test the token on the spot"
Once you paste a token, if that's wrong you will realise it only when you'll try to use it for the first time.

Let's change the behaviour and test the token on the spot so if it's broken we can notice it now.

[2016-10-02 11:56] #56 closed, assigned to nobody

[2016-10-02 12:10] #59 closed, assigned to nobody

[2016-10-09 17:19] jsynowiec commented on #44
I can confirm that the 0.5.0 update is performing noticeably better on the same set of symbols.

[2016-11-04 20:55] borekb opened #63 "Preview mode"
Hi, this is an awesome extension! I don't like working with Blueprint in Apiary's online editor so this really has been a blessing.

Do you think it would be possible to add a preview somehow? Sort of like Markdown preview, just with Blueprint specifics?

[2016-11-04 21:41] borekb commented on #63
Possibly draw an inspiration from here: https://atom.io/packages/api-blueprint-preview

EDIT: I've just spotted a note about it in your current README, sorry :)

[2016-11-05 09:38] XVincentX commented on #63
Hey!

Thanks a lot, it's good to see that this is helping somebody around.

So - the preview is something I'm aiming for in the middle term roadmap, but I didn't find a proper solution yet.

Thing is - I could employ [aglio](https://github.com/danielgtaylor/aglio), but unfortunately it seems like it's not really super updated as well it's still working with the old API Blueprint AST (which means:

[2016-11-05 09:40] XVincentX commented on #46
@jsynowiec Any updated on that?

[2016-11-05 09:44] borekb commented on #63
Yeah, maybe start with the official Apiary previewer which should be relatively easy to do (I assume) and think about a more independent, offline solution later. I, personally, would be fine with server roundtrips until a better solution is around.

[2016-11-05 09:55] XVincentX commented on #63
Yes, it should be.
All right, thanks a lot for the heads-up, I'll try to work on this!

[2016-11-05 10:00] XVincentX opened #64 "Use the new validate method from drafter"
It should sensibly speed up validation of APIBlueprint as it's skipping all the serialisation stuff

[2016-11-05 14:26] XVincentX commented on #63
I coded this thing on the fly and actually is not that bad.

![](https://media.giphy.com/media/3o7TKIYuUKG9dUV9XW/giphy.gif)

[2016-11-05 14:47] borekb commented on #63
Wow! You rock.

[2016-11-05 19:13] XVincentX commented on #63
I'll try to polish it and see if I can publish something.

[2016-11-12 10:48] XVincentX commented on #63
@borekb I've just published the 0.6 version which contains a small implementation of the thing.
It was done in kind of rush as I'm a bit busy in other things now - but I'll return on this once I'll be free.

Let me know if that at least solves your use case!

[2016-11-12 11:09] borekb commented on #63
It's a great start, thanks! A couple of initial impressions:
- The preview doesn't fill out the whole pane, I don't know why:

![image](https://cloud.githubusercontent.com/assets/101152/20237387/c538efba-a8d0-11e6-80fe-54568df1b8c6.png)
- Live preview with synchronized scrolling would be best although I understand it is much tougher to do that.

[2016-11-12 11:36] XVincentX commented on #63
The latter is definitely more difficult to do and I'm not even sure that's possible.
I'll keep an eye on it (and reopen it) but I would say that's a very low priority thing. See the issues to have an idea of the roadmap

[2016-11-23 10:59] #52 closed, assigned to nobody

[2016-11-30 09:43] XVincentX commented on #63
Note: I missed the `preview` activation event

[2017-01-11 12:36] XVincentX commented on #46
@jsynowiec Ping!

[2017-02-01 14:14] borekb opened #67 "TypeError: _.has is not a function"
After opening an .apib file, I get this error:

[code]

This is in the output panel:

[code]

[2017-02-03 09:19] XVincentX commented on #67
@borekb
Hey!
Thanks a lot for opening the issue.
According to the error you posted, it seems like it's related to the underlying parser.
Would it be possible to share the offending document here, so I can have a look into?

Have a nice day sir!

[2017-02-03 22:18] borekb commented on #67
Strange, I cannot reproduce it on another machine I have VS Code installed on. There was a different error in the top message bar:

[code]

but after I dismissed it, I cannot reproduce it either.

The Blueprint document contains one semantic error (repeated endpoint) if that's of any help. Something like:

[code]

[2017-02-04 08:28] XVincentX commented on #67
Thanks a lot for the data. I will try to have a look one of these days and issue a fix if it's an error on my side.

Have a great weekend!

[2017-02-05 14:45] XVincentX commented on #67
I am not able to reproduce it either.

![image](https://cloud.githubusercontent.com/assets/1416224/22627012/0d2ce340-ebba-11e6-90c6-d71cc68b92bd.png)

I'll try to update the parser and the libraries and publish a maintenance release for that anyway.

[2017-02-05 14:59] XVincentX commented on #67
Done - let me know if you encounter the issue again or not. It should now be using latest parser version.

[2017-02-05 15:12] borekb commented on #67
Tried 0.6.1 and it procudes this:

[code]

[2017-02-05 15:13] XVincentX commented on #67
Gosh!

[2017-02-05 15:15] XVincentX commented on #67
@borekb What about now?

[2017-02-05 15:25] borekb commented on #67
0.6.2:

![image](https://cloud.githubusercontent.com/assets/101152/22627255/cb481822-ebbf-11e6-9b78-0ccefb866140.png)

[code]

[2017-02-05 15:26] XVincentX commented on #67
Cool, it seems like there’s something terribly wrong with the new module.

[2017-02-05 15:26] borekb commented on #67
Appreciate your effort very much. 👏

[2017-02-05 15:29] XVincentX commented on #67
Yet another try, please!

[2017-02-05 15:33] borekb commented on #67
0.6.3: still the same. I actually tried uninstalling, restarting Code and installing again. Yields the same error.

[2017-02-05 15:34] XVincentX commented on #67
I’m terribly sorry, there’s something wrong with the packages but I’m not able to figure out it yet. Keep going!
V.

[2017-02-05 15:36] borekb commented on #67
You don't see the same error as I do? I'm trying the exact snippet from https://github.com/XVincentX/vscode-apielements/issues/67#issuecomment-277377992.

[2017-02-05 15:39] XVincentX commented on #67
I’m not on a computer where I can try the things.
Would you mind give it another try?
V.

[2017-02-05 15:53] borekb commented on #67
All is alright now! Thanks.

I also noticed that in the Output panel, there is no longer "API elements" option in the dropdown box. Is it related, or is it just a lack of error output that the list element is not there?

[2017-02-05 18:43] XVincentX commented on #67
It's not relate to the extension - I think it's simply because you've removed it and it lost its settings.
Not sure how to restore it.

Anyway, I'm not outputting any info so, if I recall correctly, you should not lose any info.

[2017-02-06 10:00] basickarl opened #68 "[fury] base type 'InvalidCredentialsError' is not defined in the document"
I'm getting the error: `[fury] base type 'InvalidCredentialsError' is not defined in the document.`

I'm including the `InvalidCredentialsError` via: `:[Errors](resources/errors.apib)`. That file contains all the error types. I'm including all of these documents via the start apib file (blueprint.apib).

I'm guessing the plugin isn't checking if includes are used in the main file?

[2017-02-06 10:04] basickarl commented on #68
It seemed to fix itself when I started to add more text underneath it.

If you end the file with the following:

[code]

It will complain as stated in my original post.

[2017-02-06 11:50] #67 closed, assigned to XVincentX

[2017-02-06 11:51] XVincentX commented on #68
I think this is probably a parser problem not related to the extension itself.
Would it be possible to share the API Blueprint here (or a reproducible example)?

[2017-02-06 13:15] basickarl commented on #68
Hi, here is the code I'm using, I've put in the arrow to show where I'm getting the error:

[code]

The following however works (the error has moved now).

[code]

[2017-02-06 14:07] XVincentX commented on #68
Thanks a lot - I'll look into!

[2017-02-06 14:09] pksunkara commented on #68
This is parser related but it is expected. Since you don't have any data structure named `Incorrect Credentials` parser will produce an error.

[2017-02-07 12:57] XVincentX commented on #68
@basickarl Does that answer your question?
If not, you might want to ask more in [drafter](https://github.com/apiaryio/drafter) repository

[2017-02-14 16:58] XVincentX commented on #68
Feel free to reopen if you need further clarifications.

[2017-02-14 16:58] #68 closed, assigned to nobody

[2017-02-27 16:09] JimiC opened #69 "Consider switching language ids to lowercase w/o whitespaces"
Current `language id` convention is to use lowercase naming.

Currently the usage of `API Blueprint` as `lanuage id` is causing issues with icon associations via `language ids`.

Consider switching:
`API Blueprint` -> `apiblueprint`
`Swagger` -> `swagger`
`MSON` -> `mson`

[2017-02-27 22:40] XVincentX commented on #69
Hmm, that seems to be a valid point but - I think I do not get the icon association issue.
Would you mind elaborate more on that?

[2017-02-28 08:10] JimiC commented on #69
In case you don't know `vscode` supports icon themes for the explorer. We at `vscode-icons` have created such an extension.
`vscode` associates an icon to a file via the following criteria:
 - filename
 - filename extension
 - language id (either via internal or external extension, such like yours)

We support a majority of files via the `language id` association, including `API Blueprint`.

Now,

[2017-03-01 02:22] XVincentX commented on #69
Thanks a lot for the detailed explanation. I'm going to handle this as soon as possible.

[2017-03-21 16:36] dmrzn opened #70 "API content is copied into clipboard incorrectly while being folded"
**Steps to recreate the issue:**
1. Add some API text, having regions that can be folded (e.g. an example from http://editor.swagger.io)
2. Fold all regions
3. Select the whole content (Ctrl+A)
4. Copy the content to clipboard (Ctrl+C)
5. Paste to any text editor

**Actual Result:**
The content of last top-level folded region is not copied

**Expected Result:**
All folded regions should be copied

[2017-03-25 11:59] XVincentX commented on #70
Thanks a lot for the bug report - I am going to look into this as soon as possible - although I'm not entirely sure if it's a bug in the extension itself or in Visual Studio Code. I'll keep you posted!

[2017-04-08 09:34] XVincentX commented on #69
@JimiC I've prepared #72 which should do exactly what you've been asking for. Would you mind having a quick look to it? Thanks!

[2017-04-08 10:01] XVincentX commented on #58
Nope - it's not going to happen.

[2017-04-08 10:01] #58 closed, assigned to nobody

[2017-04-08 10:03] XVincentX commented on #70
@dmrzn I haven't been able to reproduce the issue. I've copy pasted the document from VSCode to Sublime and it worked correctly. I am using VSCode 1.11.

Would you mind try this thing again (making sure to update VSCode)?
Feel free to re open the issue if that's still happening.

[2017-04-08 10:03] #70 closed, assigned to nobody

[2017-04-09 12:48] XVincentX commented on #69
@JimiC Done and released. Could you verify if that's working correctly now?

[2017-04-09 12:48] #69 closed, assigned to nobody

[2017-04-09 13:31] JimiC commented on #69
Sure. As soon as I get on my workstation.

[2017-04-09 18:39] JimiC commented on #69
![image](https://cloud.githubusercontent.com/assets/1716442/24839969/d6885236-1d6c-11e7-9efc-4af60b9637bb.png)
Confirming it works (as soon as we make the necessary changes too).
Note: We don't have an icon for `MSON` yet.

[2017-04-09 19:30] XVincentX commented on #46
@jsynowiec Last call, then I'll close the issue.

[2017-04-09 20:24] jsynowiec commented on #46
Hey, sorry ☹️. I haven't had much time, so I haven't got those snippets ready. Even for my day-to-day work I didn't created or refined them as I haven't created a new docs for some time. You can close this or leave it. If I find some spare time I'll try to look into it but can't promise anything right now.

[2017-04-10 11:53] XVincentX commented on #46
@jsynowiec Do you have some drafts at least? I can work on those eventually.

[2017-04-10 11:57] XVincentX commented on #69
@JimiC Thanks!

We (Apiary) do not have an official icon for that - I guess you could use the same as apib files.

[2017-04-10 11:57] jsynowiec commented on #46
Unfortunately nothing I can share without cleaning and rewriting other than what is already available at https://github.com/jsynowiec/api-blueprint-boilerplate/blob/master/src/api.apib

[2017-04-10 12:00] JimiC commented on #69
I was thinking something more in the line of combining `Markdown` and `json` icons. Something like `json-ld` ![json-ld](http://json-ld.org/images/json-ld-data.png).

[2017-04-10 12:25] XVincentX commented on #69
@JimiC Let me ask in the company - probably we might come up with something.

[2017-04-10 12:27] JimiC commented on #69
That would be awesome. Make sure to include also an SVG version of the icon.

[2017-04-11 11:45] XVincentX commented on #8
Ahahaha - you know it's not going to happen.

[2017-04-11 11:45] #8 closed, assigned to nobody

[2017-05-06 19:16] XVincentX opened #74 "Use learn to manage versions in two packages"

[2017-05-23 09:20] #74 closed, assigned to nobody

[2017-05-23 09:20] XVincentX opened #76 "Migrate to minim"
minim is out and stable - I should migrate it to that.

[2017-06-06 16:07] XVincentX opened #77 "Use redoc to generate documentation on the fly"

[2017-06-06 16:08] XVincentX commented on #41
According to the tracking issue, the feature needed in VSCode will not be implemented!

[2017-07-01 13:18] keypunch opened #80 "Error when trying to run client"
I've **tried** to follow your instructions exactly.

I downloaded the whole library, and executed the command `npm i` in both **server** and **client** folders.
I get this warning:

I then opened both **server** and **client** directories as a base path with `code .` (actually open.sh works nicely as well on git-bash).

Now I have 2 instances of vs code open. In the **server** instance I ran the t

[2017-07-02 09:40] XVincentX commented on #80
Hey - it's great that you want to hack the extension!

To answer your questions:

You can definitely ignore the warnings - these are just because you're using NPM5 while the extension has been created and updated, so far, with version 4. I plan to update it soon, but it should work anyway.

The procedure to init the extension is correct - and it should work. I think the thing is the task does not

[2017-07-04 14:36] keypunch commented on #80
Thanks for your response. As I said before I'm relatively new to VS Code, and have been deluged in nodejs libraries lately. I assumed I had to do those steps just to make the extension work!
I just realized yesterday - It's an **_extension_** not a library!
_*facepalm_

On a positive note, the syntax highlighting looks great!

[2017-07-04 14:36] #80 closed, assigned to nobody

[2017-07-04 15:00] XVincentX commented on #80
All good sir - if you just want to use the extension, you can simply install it directly from the extension store.

[2017-08-03 08:29] shangxinbo opened #81 "why use make the .apib with LF as line ending?"
I wonder why api blueprint use LF as line ending. I read this issue #18 ,but I can't find the official website description about the line ending.
Is it your own idea or the official is requird. can you give me the link of the doc about that?
I am very difficult to understand this.

[2017-08-13 20:19] melv-n commented on #29
It seems to be better highlighted in the screenshot shown in README.md than how it actually renders in the editor. Did something deprecate along the way?

[2017-08-16 07:56] XVincentX commented on #29
@mirague I do not think so, I haven't been changing it for a while.

Would you be willing to share your document so I can have a look into?

[2017-08-16 08:01] XVincentX commented on #81
Hey,
this is not my choice but rather something in the official specifications.

I can't find the link right now, but you can notice it by yourself switching the line ending style as CRLF in Visual Studio Code: the parser will return an error (and you'll see it from Visual Studio Code).

Let me know if this answer your question or you need further clarifications.

[2017-08-16 08:01] #81 closed, assigned to nobody

[2017-08-16 11:30] XVincentX commented on #81
@shangxinbo https://github.com/apiaryio/snowcrash/issues/29

[2017-08-17 03:15] shangxinbo commented on #81
@XVincentX  Thanks to explain to me . In fact, I know how to change the ending style in VS Code. But when I change it to CRLF, it throw error to me. So I mean this plugin maybe force me to use LF as line ending,that makes me sick.

[2017-08-22 09:07] melv-n commented on #29
@XVincentX Thank you for wanting to look into this, I appreciate your time.

Here's a gist of a snippet of our Blueprint:
https://gist.github.com/mirague/55096ad00dfeb85645ac56044c6488db

Here's two images on how it renders on macOS in VSCode `v1.15.1` and API Elements extensions `v0.6.7`:
![image](https://user-images.githubusercontent.com/178117/29557543-bd85c652-8729-11e7-8c3a-934249d4b82b.png)

[2017-08-23 07:51] XVincentX commented on #29
Thanks - I'll try to have a look into during the following days!

[2018-07-10 18:29] nilskp commented on #29
Any status on this? I too am not seeing much syntax coloring. Things like headers are just the same color, which is odd, since the screenshots on the README.md page shows colored headers.

[2018-07-19 10:21] XVincentX commented on #29
@nilskp

Hey,

unfortunately I've been able to work on this project.

First of all, I didn't see a lot of traction on it (neither Apiary was *that* interested in it to be honest), and more importantly I left Apiary. That's killed any motivation to work on it.

I think it's worth resuming and revamping the extension but this is something I cannot do right now.

Contributions are welcomed — although

[2018-11-29 15:02] houd1ni commented on #8
@XVincentX  You closed it to stop reminding you how sucker you are, you know? You humbled.

[2018-11-29 15:04] houd1ni opened #82 "My JSON output isn't highlighted (blueprint)."
It would be much better if it is highlighted. I would love you more.

[2018-11-29 15:06] XVincentX commented on #8
Hey,

kind of. I’m not hiding my failure here. :)

Testing was something that I wanted to do with the extension, I had big plans for it in general — but you can clearly see it didn’t happen and in general the whole extension is not actively developed anymore. I thought it would have been a cool project, but at the end I haven’t been able to grab a decent amount of users to justify my commitment an

[2018-11-29 15:38] houd1ni commented on #8
@XVincentX  Look -- real tests there! Like it.

[2019-03-26 13:57] FranklinYu commented on #63
Are you somewhat interested in Swagger preview? I can help research the possibility.

[2019-03-26 14:32] XVincentX commented on #63
Hey Franklin,

Unfortunately I am not developing this extension actively anymore due to a general lack of interest. Feel free to clone and make it happen if you think it’d be beneficial but keep in mind it’s based on some old packages that will need to be updated.

Cheers!